<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3 mb-2">
    <form #form="ngForm" class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="col">
            <label>Age from:</label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge" [(ngModel)]="userParams.minAge">
        </div>
        <div class="col">
            <label>Age to:</label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="maxAge" [(ngModel)]="userParams.maxAge">
        </div>
        <div class="col">
            <label>Show: </label>
            <select name="gender" style="width: 130px;" class="form-control ms-1" [(ngModel)]="userParams.gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{gender.display}}
                </option>
            </select>
        </div>
        <div class="col">  
            <br>      
            <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>        
            <button class="btn btn-info ms-1" type="button" (click)="resetFilters()">Reset Filters</button>
        </div>
        <div class="col">
            <br>
            <div class="btn-group">
                <label 
                    class="btn btn-primary" 
                    [(ngModel)]="userParams.orderBy"
                    name="orderBy" 
                    btnRadio ="lastActive"
                    (click)="loadMembers()"
                    [(ngModel)]="userParams.orderBy">Last Active
                </label>
                <label 
                    class="btn btn-primary" 
                    [(ngModel)]="userParams.orderBy"
                    name="orderBy" 
                    btnRadio ="created"
                    (click)="loadMembers()"
                    [(ngModel)]="userParams.orderBy">Newest Members
                </label>
              </div>

          
              
        </div>
    </form>
</div>

<div class="row">
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>